################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AirportDistance.Api/.vscode
/AirportDistance.Api/obj
/AirportDistance.Api/bin/Debug/netcoreapp2.0
